<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>채팅서버 관리콘솔</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<style type="text/css">
<%- myCss.style %>
</style>
</head>
<body>
<script type="text/javascript">
	// 페이지 로딩이 완료되고, jQuery 스크립트 실행된다
	$(document).ready(function() {
		
	});
	
</script>
	<div class="container">
		<header>
			<h1>관리콘솔 로그인 화면</h1>
		</header>
		<section>
			<div id="container_demo">
				<div id="wrapper">
					<div id="login" class="animate form">
						<h1>페이지 준비중</h1>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>