<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>채팅서버 관리콘솔</title>
    <style type="text/css">
        <%- myCss.style %>
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>관리콘솔 로그인 화면</h1>
        </header>
        <section>
            <div id="container_demo">
                <div id="wrapper">
                    <div id="loginDiv">
                        <form id="form" method="post">
                            <h1>Log in</h1>
                            <p>
                                <label for="userId" class="userId" data-icon="u"> 아이디를
                    입력하세요 </label> <input id="userid" name="userid" v-model="userid" required="required" type="text" placeholder="id 입력" />
                            </p>
                            <p>
                                <label for="password" class="youpasswd" data-icon="p">
                    비밀번호를 입력하세요 </label> <input id="passwd" name="passwd" v-model="password" v-on:keyup="loginKeyup" required="required" type="password" placeholder="pw 입력" />
                            </p>
                            <p class="login button">
                                <button id="login_button" type="button" v-on:click="loginButton">로그인</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        var account = {
            userid: "",
            password: ""
        };

        var simple = new Vue({
            el: '#loginDiv',
            data: account,
            methods: {
                gfn_isNull: function(obj) {
                    if (obj == undefined) {
                        return true;
                    } else if (obj == null) {
                        return true;
                    } else if (obj === null) {
                        return true;
                    } else if (typeof obj == "string") {
                        if (obj === "") {
                            return true;
                        }
                    } else if (typeof obj == "object") {
                        if (obj.length == 0) {
                            return true;
                        }
                    }
                    return false;
                },
                fn_PreLogin: function() {

                    if (this.gfn_isNull(this.userid)) {
                        alert("아이디를 입력하세요");
                        return false;
                    }

                    if (this.gfn_isNull(this.password)) {
                        alert("비밀번호를 입력하세요");
                        return false;
                    }

                    if (this.password.length < 4) {
                        alert("비밀번호는 네자리 이상 입력해 주세요");
                        return false;
                    }

                    return true;
                },
                // 로그인 함수
                login: function() {
                    if (!this.fn_PreLogin()) {
                        return;
                    }
                    const requestOptions = {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(account)
                    };
                    fetch("/login", requestOptions)
                        .then(async response => {
                            const data = await response.json();
                            // check for error response
                            if (!response.ok) {
                                // get error message from body or default to response statusText
                                const error = (data && data.message) || response.statusText;
                                return Promise.reject(error);
                            }
                            if (data.length >= 1) {
                                location.href = '/main';
                            } else {
                                alert("아이디와 비밀번호를 확인해 주세요");
                            }
                        })
                        .catch((err) => {
                            var errorData = JSON.parse(data.responseText);
                            alert(errorData.code + " " + errorData.name);
                        });
                },
                loginKeyup: function(e) {
                    if (e.keyCode === 13) {
                        this.login();
                    }
                },
                loginButton: function() {
                    this.login();
                }
            },
        })
    </script>
</body>

</html>