<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>채팅서버 관리콘솔</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<style type="text/css">
<%- myCss.style %>
</style>
</head>
<body>
<script type="text/javascript">
	// 페이지 로딩이 완료되고, jQuery 스크립트 실행된다
	$(document).ready(function() {
		
		$('#datePick').datepicker({
			dateFormat: 'yymmdd',	
			numberOfMonths : 1,
			changeMonth : true,
			changeYear : true
		});
		
		initDay();
		
		callInfo();
		
		fileList();
		
		// 로그인 버튼을 클릭할때 이벤트 발생
		$("#datePick").on("change", function(e) {
			chattingCountPerDay();
			directionCountPerDay();
		});
		
		// 로그인 버튼을 클릭할때 이벤트 발생
		$("#datePick").on("keyup", function(key) {
			if(key.keyCode == 13) {//키가 13이면 실행 (엔터는 13)
				chattingCountPerDay();
				directionCountPerDay();
			}
		});
		
		$("#serverSwitch").on("click", function(e) {
		
			serverSwitch($("#switchNumber").val());
		});

		$("#banName").on("keyup", function(key) {
			if(key.keyCode == 13) {//키가 13이면 실행 (엔터는 13)
				banUser();
			}
		});

		$("#banButton").on("click", function(e) {
			banUser();
		});						
	});
	
	function initDay() {
		var d = new Date();
		var year = d.getFullYear();
		var month = d.getMonth() + 1;
		var day = d.getDate();
		
		if(month < 10) {
			month = "0" + month;
		}
		if(day < 10) {
			day = "0" + day;
		}
		
		$('#datePick').val(year + "" + month + "" + day);
	}
	
	// ajax 반복호출
	function callInfo() {
		setInterval(function() {
   			if($("#switchNumber").val() === "0" ) {
   				directionCount();
   				chattingCount();
   				loginCount();
   				monitor();
   			}
   			
		}, 1000);
	};
	
	// directio수 구하기
	function directionCount() {
	
		$.ajax({
		    url : "/directionCount",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
				$("#directions").text(data[0].cnt);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	// chatting수 구하기
	function chattingCount() {
	
		$.ajax({
		    url : "/chattingCount",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
				$("#chattings").text(data[0].cnt);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function loginCount() {
		$.ajax({
		    url : "/loginCount",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
				$("#members").text(data.cnt);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function chattingCountPerDay() {
		$.ajax({
		    url : "/chattingCountPerDay",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({date : $("#datePick").val()}),
		    contentType:"application/json",
		    success : function(data) {
				$("#chattingsPerDay").text(data[0].cnt);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function directionCountPerDay() {
		$.ajax({
		    url : "/directionCountPerDay",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({date : $("#datePick").val()}),
		    contentType:"application/json",
		    success : function(data) {
				$("#directionsPerDay").text(data[0].cnt);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function monitor() {
		$.ajax({
		    url : "/monitor",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
			    $("#memory").text((data[0].monit.memory / 1024) + " K");
				$("#cpu").text(Math.round(data[0].monit.cpu / 10) + " %");	
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	
	};
	
	// 파일리스트
	function fileList() {
		$.ajax({
		    url : "/file",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
				var html = "";
			
				$.each(data, function(index, item) {
					html += '<tr>';
	            	html += '<td scope="col" width="50">' + index + '</td>';
	            	html += '<td scope="col" width="100"><a href="/fileDown/' + item + '">' + item + '</a></td>';
	           		html += '</tr>';
				});
				
		        $("#viewTbody").html(html);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function serverSwitch(switchNumber) {
		
		$.ajax({
		    url : "/serverSwitch",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({off : switchNumber}),
		    contentType:"application/json",
		    success : function(data) {
				if(data.flag === 0) {
					$("#serverSwitch").text("서버끄기");
					$("#switchNumber").val("0");
				} else {
					$("#serverSwitch").text("서버켜기");
					$("#switchNumber").val("1");
					
					$("#directions").text("0");
					$("#chattings").text("0");
					$("#members").text("0");
					$("#memory").text("0 K");
					$("#cpu").text("0 %");	
				}
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function banUser() {
		$.ajax({
		    url : "/ban",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({banName : $("#banName").val()}),
		    contentType:"application/json",
		    success : function(data) {
				
				$("#banName").val("");
				alert("강퇴!");
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
</script>
	<div class="container">
		<header>
			<h1>관리콘솔</h1>
		</header>
		<section>
			<div id="container_demo">
				<div id="wrapper">
				<div class="animate form">
					<a href='/logout'>로그아웃</a>
					<h3>접속자 닉네임 : <%- nickname %></h3>
					<h3>최근 로그인 날짜 : <%- lastlogdate %></h3>
					<h3>최근 로그인 시간 : <%- lastlogtime %></h3>
					
					<p class="login button">
						<button id="serverSwitch" type="button">서버켜기</button>
						<input id="switchNumber" name="switchNumber"
							type="text" value="1" style="display:none;/>
					</p>
					<form id="chatting_data" class="animate form">
						<h4>접속자 수</h4>
						<h4 id="members">명</h4>
						<!--
							<label for="members" class="members" data-icon="u"> 
							</label> <input id="members" name="members"
								type="text"/>
						-->	
						<br>
						<h4>1초당 지시패킷</h4>
						<h4 id="directions"></h4>
						<br>	
						<h4>1초당 채팅패킷</h4>
						<h4 id="chattings"></h4>	
						
						<h4>메모리</h4>
						<h4 id="memory"></h4>
						<br>	
						<h4>CPU</h4>
						<h4 id="cpu"></h4>	
						<br>
						<h4>강퇴시킬 닉네임</h4>
						<input id="banName" name="banName"
								type="text"/>
						<button id="banButton" type="button">강퇴</button>
					</form>
				</div>
				<div id="wrapper">
				<table border = "1">
				<colgroup>
					<col width="50">
					<col width="100">		
				</colgroup>
				<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">파일명</th>
				</tr>
				</thead>
				<tbody id="viewTbody">
				</tbody>
				</table>
				</div>
				</div>
				
				<form id="chatting_data2" class="animate form">
				<br>날짜별 조회<input type="text" id="datePick" name="datePick" maxlength="8">
				
				<h4>날짜별 지시패킷</h4>
				<h4 id="directionsPerDay"></h4>
				<br>	
				<h4>날짜별  채팅패킷</h4>
				<h4 id="chattingsPerDay"></h4>	
				</form>
			</div>
		</section>
	</div>
</body>
</html>