<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>채팅 클라이언트 </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>    
<script src="/socket.io/socket.io.js"></script>
<script>

var socket;
var myRoom;
$(document).ready(function() {

    connectToServer();
    
    // 엔터키 입력시 이벤트
	$("#message").on("keyup", function(key) {
		if(key.keyCode == 13) {//키가 13이면 실행 (엔터는 13)
			// 전송 함수
			sendMessage();
		}
	});
		
	
	$("#send_button").on("click", function(e) {
		sendMessage();
	});
	
	$("#roomname").on("keyup", function(key) {
		if(key.keyCode == 13) {//키가 13이면 실행 (엔터는 13)
			// 전송 함수
			makeRoom();
		}
	});
		
	$("#makeRoomButton").on("click", function(e) {
		makeRoom();
	});

	$("#entername").on("keyup", function(key) {
		if(key.keyCode == 13) {//키가 13이면 실행 (엔터는 13)
			// 전송 함수
			enterRoom();
		}
	});
		
	$("#enterRoomButton").on("click", function(e) {
		enterRoom();
	});
	
});	

function sendMessage() {

	var packet = {
		nickname : $("#nickname").text(),
		roomname : myRoom,
		message : $("#message").val()
	};
		
	if(socket === undefined) {
		alert("서버 연결 끊김");
	}
	socket.emit("chat" , packet);
};

// 서버에 연결하는 함수 정의
function connectToServer() {
        
	var options = {'forceNew':true};
    var url = 'http://localhost:3000';
    console.log('연결시도');
    socket = io.connect(url, options);

    socket.on('connect', function() {
    	println('웹소켓 서버에 연결되었습니다. : ' + url);
    	
    	socket.on('message',function(message) {
    		println(message);
    	});
    });

    socket.on('disconnect', function() {
    	println('웹소켓 연결이 종료되었습니다.');
    
    });
    
    socket.on('room', function(packet){
    	var direction = packet.direction;
    	
    	if(direction === "roomEnter") {
    		myRoom = packet.roomname;
    	} else if(direction === "roomList") {
    		
    		var html = "";
			$.each(packet.list, function(index, item) {
				html += '<p>' + item + '</p>';;
			});
			$("#roomList").empty();
			$("#roomList").html(html);
    	}
    });
}
 
function makeRoom() {

	var packet = {
		direction : "makeRoom",
		roomname : $("#roomname").val(),
		roomMember : $("#nickname").text()
	};
		
	if(socket === undefined) {
		alert("서버 연결 끊김");
	}
	socket.emit("room" , packet);
};

function enterRoom() {

	var packet = {
		direction : "enterRoom",
		roomname : $("#entername").val(),
		roomMember : $("#nickname").text()
	};
		
	if(socket === undefined) {
		alert("서버 연결 끊김");
	}
	socket.emit("room" , packet);
};


function println(data) {
	console.log(data);
	$('#result').append('<p>' + data + '</p>');
}

/** null 체크*/
function gfn_isNull(obj) {
	if(obj == undefined) {
		return true;
	} else if(obj == null) {
		return true;
	} else if(obj === null) {
		return true;
	} else if(typeof obj == "string") {
		if(obj === "") {
			return true;
		}
	} else if(typeof obj == "object") {
		if(obj.length == 0) {
			return true;
		}
	}
	return false;
};
</script>
	</head>
<body>
	<h3>채팅 클라이언트 01</h3>
	<br>
    <div>
	<h5>접속자 닉네임 :</h5>
    	<h5 id="nickname"> <%- nickname %></h5>
    	<input type="text" id="message" name="message" />
    	<button id="send_button" type="button">전송</button>
    	<br>
    	<input type="text" id="roomname" name="roomname" />
    	<button id="makeRoomButton" type="button">방 만들기</button>
    	<br>
    	<input type="text" id="entername" name="entername" />
    	<button id="enterRoomButton" type="button">방 입장하기</button>
    	<div id="roomList">
    	</div>
    </div>
        
    <hr/>
    <p>결과 : </p>
    <div id="result"></div>
        
</body>
</html>