<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>사용자리스트</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
</head>
<body>
<script type="text/javascript">
	// 페이지 로딩이 완료되고, jQuery 스크립트 실행된다
	$(document).ready(function() {
		userList();
		
		// 로그인 버튼을 클릭할때 이벤트 발생
		$("#remove_button").on("click", function(e) {
			removeId();
		});
		
	});
	
	// 유저리스트
	function userList() {
		
		$.ajax({
		    url : "/listuser",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify({}),
		    contentType:"application/json",
		    success : function(data) {
				var html = "";
				$.each(data, function(index, item) {
					html += '<tr>';
	            	html += '<td scope="col" width="100">' + item.id + '</td>';
	            	html += '<td scope="col" width="100">' + item.name + '</td>';
	            	html += '<td scope="col" width="50">' + item.age + '</td>';
	           		html += '</tr>';
				});
				$("#tableBody").empty();
		        $("#tableBody").html(html);
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
	
	function removeId() {
	
		var sendForm = {
			"removeid" : $("#removeid").val()
		};
		
		$.ajax({
		    url : "/removeById",
		    type : "POST",
		    dataType : "json",
		    cache : false,
		    data : JSON.stringify(sendForm),
		    contentType:"application/json",
		    success : function(data) {
		    	if(data.n > 0) {
		    		alert('삭제되었습니다');
		    		userList();
		    	}
				
			},
		    error : function(data, status, error) {
		    	var errorData = JSON.parse(data.responseText);
		    	alert(errorData.errorCode + " " + errorData.errorMsg);
		    }
		});
	};
</script>	

	<h1>사용자 리스트</h1>
	<br>
	<table border = "1">
		<colgroup>
			<col width="100">
			<col width="100">
			<col width="50">	
		</colgroup>
		<thead>
		<tr>
			<th scope="col">아이디</th>
			<th scope="col">닉네임</th>
			<th scope="col">나이</th>
		</tr>
		</thead>
			<tbody id="tableBody">
			</tbody>
	</table>
	
	<form method="post" action="/removeById">
		<table>
			<tr>
				<td><label>아이디</label></td>
				<td><input type="text" id="removeid" name="removeid" /></td>
			</tr>
		</table>
		<button id="remove_button" type="button">삭제</button>
	</form>
</body>
</html>